<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="TweetStockAnalyzerEntities" connectionString="metadata=res://*/Model.TweetStockAnalyzerModel.csdl|res://*/Model.TweetStockAnalyzerModel.ssdl|res://*/Model.TweetStockAnalyzerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TS-PC\SQLEXPRESS;initial catalog=TweetStockAnalyzerTest;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="TwitterComsumerKey" value="CtCFaxlwz0l6bCJ70cNzgQ" />
    <add key="TwitterComsumerSecret" value="GdNRxToWBseANiegqwq5arBOE35CvKruyEu6G23no" />
    <add key="TwitterAccessToken" value="2366447232-EDEed93cG5XMIzlRIdyBELvGdVZamxYFIsySdbL" />
    <add key="TwitterAccessTokenSecret" value="9ARpxFXvp3YyJ6LpiafVr8Cms0Um6XY0UTFmFL0AefB6n" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>