@model TweetStockAnalyzerWeb.ViewModel.Company.CompanyDetailViewModel

@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>

@Html.DisplayFor(m => m.Company, new { ParentCompanyName = Model.ParentCompanyName })
