@model TweetStockAnalyzerWeb.ViewModel.Company.CompanyDetailViewModel

@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>

<p><b>会社名</b><span>(9999)</span><span>Modify</span></p>
<p>親会社名</p>
<p>
    サービス一覧
    <ul>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</p>
<p>
    会社のスコア
</p>
<p>
    時系列情報
</p>
<p>
    チャート
</p>