@model TweetStockAnalyzerWeb.ViewModel.Company.CompanyIndexViewModel

@{
    ViewBag.Title = "Company";
}

<style type="text/css">
    .bottom-margin {
        margin-bottom: 2em;
    }

    .border-box {
        border: 1px solid #ddd;
    }
</style>

<h2>Company</h2>
<button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Create")'">
    <span class="glyphicon-plus"></span>Add
</button>

@{
    foreach (var company in Model.Companies)
    {
        <div>
            <b>@company.CompanyName</b><span>(9999)</span><a href='@Url.Action("Detail")'>Detail</a><br />
            <div class="border-box bottom-margin">
                <div>
                    Chart
                </div>
            </div>
        </div>
    }
}