@using TweetStockAnalyzer.Model;
@using TweetStockAnalyzerWeb.Models;

@helper CompanyScoreChart(Company company, CompanyScore[] CompanyScores)
{
    <div style="padding:30px">
        <div id='chart_@company.CompanyId'>

        </div>
    </div>
    <script type="text/javascript">
        $.jqplot('chart_@company.CompanyId',
            [
                [1, 2],
                [2, 5],
                [3, 4],
            ]
            )
    </script>
}