@using TweetStockAnalyzerWeb.Models.InputModel;
@using TweetStockAnalyzerWeb.Models

@model ProductInputModel

@{
    ViewBag.Title = "Create";
}

<style type="text/css">
    .add-button {
        margin-left: 5px;
    }

    .remove-button {
        margin-left:5px;
    }
</style>

<h2>Create</h2>

@Html.ValidationSummary()
@using (Html.BeginForm("Create", "Product"))
{
    @Html.EditorForModel()
}