@using TweetStockAnalyzerWeb.Models.InputModel;
@using TweetStockAnalyzerWeb.Models

@model ProductInputModel

@{
    ViewBag.Title = "Update";
}

<h2>Update</h2>

@Html.ValidationSummary()
@using (Html.BeginForm("Update", "Product"))
{
    @Html.EditorForModel()
}